body {
  min-width: 768px;
  max-width: 1200px;
  margin: auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.btn {
  color: #fff;
}

.btn--brown {
  background-color: #766357;
}

.btn--blue {
  background-color: #81b3d2;
}

.headnav {
  max-height: 56px;
}

.headnav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.headnav__item {
  list-style: none;
  padding-top: 20px;
}

.headnav__item--logo {
  padding: 0;
}

.headnav a {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.head-block__images {
  padding-top: 77px;
  background: url("../img/header.jpg") top center no-repeat;
  background-color: #81b3d2;
  min-height: 510px;
  background-size: cover;
}

.head-block__text {
  background-image: url(../img/header-text.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 352px;
}

.head-block__mask {
  background: url("../img/mask.png") bottom center no-repeat;
  background-size: cover;
  height: 57px;
  margin-top: -57px;
}

.head-block__caption {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-block__h2 {
  font-size: 21px;
  font-weight: bold;
  width: 500px;
  text-align: center;
}

.head-block__reasons {
  width: 500px;
  text-align: center;
  font-size: 14px;
}

.infoblock {
  display: flex;
  height: 256px;
}

.infoblock__text {
  color: #fff;
  background-color: #5496bd;
}

.feature {
  min-width: 256px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 2;
}

.feature__h2,
.feature__description {
  max-width: 280px;
}

.feature__number,
.feature__description {
  font-size: 14px;
  font-weight: normal;
}

.h2 {
  font-size: 21px;
  font-weight: bold;
}

.infoblock__image {
  min-width: 512px;
  max-width: 800px;
  flex-grow: 1;
}

.infoblock__image--town {
  background: url("../img/gallery-1.jpg") top center no-repeat;
  background-size: cover;
}

.infoblock__image--bridge {
  background: url("../img/gallery-2.jpg") top center no-repeat;
  background-size: cover;
}

.comfort {
  display: flex;
  justify-content: space-around;
}

.comfort__item {
  min-width: 163px;
  max-width: 282px;
  text-align: center;
  margin-top: 164px;
}

.comfort__description {
  color: #333333;
}

.featureblock {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  height: 256px;
}

.searchblock {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.searchblock__h1 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 36px;
  padding-bottom: 36px;
}

.searchblock p {
  max-width: 434px;
  align-self: center;
  color: #333333;
  line-height: 30px;
  margin-bottom: 50px;
}

.searchblock__btn {
  font-size: 21px;
  font-weight: bold;
  width: 568px;
  align-self: center;
  box-sizing: border-box;
  padding-top: 36px;
  padding-bottom: 36px;
}

.map {
  background: url("../img/map.jpg") top center no-repeat;
  background-size: cover;
  min-height: 475px;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer__tag {
  font-size: 21px;
  font-weight: bold;
}

.footer__copyright {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

/* ====== Отели ======= */


.choice {
  background: url("../img/background.jpg") top center no-repeat;
  background-color: #5496bd;
  min-height: 218px;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.choice__form {
  display: flex;
  color: #fff;
}

.choice__column {
  display: flex;
  flex-direction: column;
}

.choice__column--right {
}

.sort {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.hotels {
}

.hotel {
  min-height: 150px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.hotel__wrapper {
  height: 90px;
}

.hotel img {
float: left;}

.hotel__info {
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.hotel__caption {
  width: 100%;
}

.hotel__type,
.hotel__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hotel__type {
  width: 110px;
}

.hotel__price {
  width: 142px;
}

.hotel__rating {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}